.heading{
    background-color: white;
    height: 400px;
    padding-top: 100px !important;
}
.vertical-center {  
    display: flex;
    align-items: center;
}
.bod{
    background-color: #D9D9D9;
    height: 400px;
    padding: 50px;
}